<div class="min-h-screen bg-[#f1f1f1] flex flex-col items-center pb-4">
  <div class="min-h-screen bg-[#f1f1f1] flex w-full flex-col items-center max-w-[560px]">
  <div class="text-base font-semibold text-[#0368df] text-center py-4 relative w-full">
    <img src="../../../../assets/svg/v3/left-arrow-blue.svg" class="absolute left-6" alt="" srcset="" (click)="goBack()">
    Editando perfil
  </div>
  <div class="flex items-center flex-col cursor-pointer" (click)="getCamera()" *ngIf="!profissional.foto" >
    <img src="/assets/svg/v2/cadastro_paciente/drawable-xxxhdpi/Grupo-387.png" width="130px" height="130px" alt="" class="profile-image">
  </div>
  <div class="flex items-center flex-col cursor-pointer" (click)="getCamera()" *ngIf="profissional.foto">
    <img src="{{profissional.foto}}" width="130px" height="130px" class="profile-image">
  </div>
  <p class="text-[#0368df] font-medium text-xs underline self-center mt-4">Clique aqui para editar sua foto</p>
  <form class="w-full px-8 mt-4 flex flex-col gap-4" action="">
    <div class="flex flex-col w-full">
      <label class="text-sm text-[#0368df] font-medium" for="">CRO</label>
      <input type="text" class="rounded-lg h-11 bg-white shadow-lg pl-3" [(ngModel)]="profissional.cro" name="cro">
    </div>
    <div class="flex flex-col w-full">
      <label class="text-sm text-[#0368df] font-medium" for="">CPF</label>
      <input type="text" class="rounded-lg h-11 bg-white shadow-lg pl-3" [(ngModel)]="profissional.cpf" name="cpf">
    </div>
    <div class="flex flex-col w-full">
      <label class="text-sm text-[#0368df] font-medium" for="">Nome</label>
      <input type="text" class="rounded-lg h-11 bg-white shadow-lg pl-3" [(ngModel)]="profissional.nome" name="nome">
    </div>
    <div class="flex flex-col w-full">
      <label class="text-sm text-[#0368df] font-medium" for="">Sobrenome</label>
      <input type="text" class="rounded-lg h-11 bg-white shadow-lg pl-3" [(ngModel)]="profissional.sobrenome" name="sobrenome">
    </div>
    <div class="flex flex-col w-full">
      <label class="text-sm text-[#0368df] font-medium" for="">Email Comercial</label>
      <input type="text" class="rounded-lg h-11 bg-white shadow-lg pl-3" [(ngModel)]="profissional.email" name="email">
    </div>
    <div class="flex flex-col w-full">
      <label class="text-sm text-[#0368df] font-medium" for="">Whatsapp</label>
      <input type="text" class="rounded-lg h-11 bg-white shadow-lg pl-3" [(ngModel)]="profissional.whatsapp" name="whatsapp">
    </div>
    <div class="flex flex-col w-full">
      <label class="text-sm text-[#0368df] font-medium" for="">CEP</label>
      <input type="text" class="rounded-lg h-11 bg-white shadow-lg pl-3" [(ngModel)]="profissional.cep" name="cep">
    </div>
    <div class="flex flex-col w-full">
      <label class="text-sm text-[#0368df] font-medium" for="">Estado</label>
      <select class="rounded-lg h-11 bg-white shadow-lg pl-3" [(ngModel)]="profissional.uf" name="uf">
          <option *ngFor="let estado of estadosBrasil" [value]="estado.sigla">{{ estado.nome }}</option>
      </select>
    </div>
    <div class="flex flex-col w-full">
      <label class="text-sm text-[#0368df] font-medium" for="">Cidade</label>
      <input type="text" class="rounded-lg h-11 bg-white shadow-lg pl-3" [(ngModel)]="profissional.cidade" name="cidade">
    </div>
    <div class="flex flex-col w-full">
      <label class="text-sm text-[#0368df] font-medium" for="">Número</label>
      <input type="text" class="rounded-lg h-11 bg-white shadow-lg pl-3" [(ngModel)]="profissional.numero" name="numero">
    </div>
    <div class="flex flex-col w-full">
      <label class="text-sm text-[#0368df] font-medium" for="">Logradouro</label>
      <input type="text" class="rounded-lg h-11 bg-white shadow-lg pl-3" [(ngModel)]="profissional.endereco" name="endereco">
    </div>
    <div class="flex flex-col w-full">
      <label class="text-sm text-[#0368df] font-medium" for="">Complemento</label>
      <input type="text" class="rounded-lg h-11 bg-white shadow-lg pl-3" [(ngModel)]="profissional.complemento" name="complemento">
    </div>
    <div class="flex flex-col w-full">
      <label class="text-sm text-[#0368df] font-medium" for="">Bairro</label>
      <input type="text" class="rounded-lg h-11 bg-white shadow-lg pl-3" [(ngModel)]="profissional.bairro" name="bairro">
    </div>
    <div class="flex flex-col w-full">
      <label class="text-sm text-[#0368df] font-medium" for="">Senha</label>
      <input type="password" class="rounded-lg h-11 bg-white shadow-lg pl-3" [(ngModel)]="profissional.senha" name="senha">
    </div>
    <div class="flex flex-col w-full">
      <label class="text-sm text-[#0368df] font-medium" for="csenha">Confirmar senha</label>
        <input class="rounded-lg h-11 bg-white shadow-lg pl-3" type="password" [(ngModel)]="profissional.csenha" name="csenha" id="csenha">
        <a href="javascript:$('#csenha').attr('type') == 'text' ? $('#csenha').attr('type', 'password') :  $('#csenha').attr('type', 'text')" id="mostrasenhaacao">
          <div style="position: absolute; left: 340px; top: 41px;">
            <img src="/assets/svg/v2/login/Componente1–1.svg" alt="">
          </div>
        </a>
    </div>
  </form>
  <div class="w-full px-8 mt-4">
    <button class="w-full text-white font-bold text-lg text-center bg-[#0368df] rounded-lg py-2" (click)="salvar()">Salvar</button>
  </div>
</div>
</div>

<!-- <div style="background-color: #5c99de;">
  <div class="ceudaboca background-14">
    <div class="ceudaboca background-14-2 p-0">
      <div class="container" data-js="container">
        <nav class="nav margin-bottom-40">
          <p class="nav-left"><a routerLink="/dentista/minha-estrela" class="back">Voltar</a></p>
          <p class="nav-right"><a routerLink="/dentista/home" class="home">Voltar</a></p>
          <p class="nav-center">Editando dados pessoais</p>
        </nav>
        <div class="form margin-bottom-40">
          
          <div>
            <div class="align-items-center" (click)="getCamera()" *ngIf="!profissional.foto"  >
              <img src="/assets/svg/v2/dentista_home/Grupo-13.svg" alt="" class="profile-image">
            </div>
            <div class="align-items-center" *ngIf="profissional.foto" (click)="getCamera()" >
              <img src="{{profissional.foto}}" class="profile-image">
            </div>
            <p class="font-14 font-normal margin-top-10 margin-bottom-40" style="text-align:center;">Clique aqui para trocar sua foto</p>
          </div>

          <div class="wrapper">
            <label for="tratamento">Tratamento:</label>
            <select [(ngModel)]="profissional.tratamento" name="tratamento" id="tratamento">
              <option value="Dr">Dr.</option>
              <option value="Dra">Dra.</option>
              <option value="Clínica">Clínica</option>
            </select>
          </div>
         
          
          <div class="wrapper" *ngIf="profissional.tipo_pessoa == 1">
            <label for="nome">Nome</label>
            <input [(ngModel)]="profissional.nome" type="text" name="nome" id="nome">
          </div>
          <div class="wrapper" *ngIf="profissional.tipo_pessoa == 1">
            <label for="sobrenome">Sobrenome</label>
            <input [(ngModel)]="profissional.sobrenome" type="text" name="sobrenome" id="sobrenome">
          </div>
          <div class="wrapper" *ngIf="profissional.tipo_pessoa == 1">
            <label for="cpf">CPF</label>
            <input class="cpf" [(ngModel)]="profissional.cpf" class="cpf" type="text" name="cpf" id="cpf">
          </div>
          <div class="wrapper">
            <label for="email">E-mail</label>
            <input class="email" [(ngModel)]="profissional.email" type="text" name="email" id="email">
          </div>
          <div class="wrapper">
            <label for="instagram">Instagram</label>
            <input [(ngModel)]="profissional.instagram" type="text" name="instagram" id="instagram">
          </div>
          <div class="wrapper">
            <label for="cro">CRO</label>
            <input [(ngModel)]="profissional.cro"  type="text" name="cro" id="cro">
          </div>
          <div class="wrapper">
            <label for="estado">Estado CRO</label>
              <select [(ngModel)]="profissional.estado_cro" name="estado" id="estado">
                <option value="BA">Bahia</option>
            </select>
          </div>
          <div class="wrapper">
            <label for="whatsapp">Whatsapp comercial</label>
            <input class="tel" [(ngModel)]="profissional.whatsapp"  type="text" name="whatsapp" id="whatsapp">
          </div>
          <div class="wrapper">
            <label for="paciente_cep">CEP</label>
            <input class="cep" [(ngModel)]="profissional.cep" (blur)="buscaCep()" type="text" name="paciente[cep]" id="paciente_cep">
          </div>
          <div class="wrapper">
            <label for="endereco">Endereço</label>
            <input class="localidade" [(ngModel)]="profissional.endereco" type="text" name="endereco" id="endereco">
          </div>
          <div class="wrapper">
            <label for="numero">Número</label>
            <input type="text" [(ngModel)]="profissional.numero" name="numero" id="numero">
          </div>
          <div class="wrapper">
            <label for="numero">Complemento</label>
            <input class="complemento" type="text" [(ngModel)]="profissional.complemento" name="complemento" id="complemento">
          </div>
          <div class="wrapper">
            <label for="cidade">Cidade</label>
            <input class="cidade" type="text" [(ngModel)]="profissional.cidade" name="cidade" id="cidade">
          </div>
          <div class="wrapper">
            <label for="bairro">Bairro</label>
            <input class="bairro" type="text" [(ngModel)]="profissional.bairro" name="bairro" id="bairro">
          </div>
          <div class="wrapper">
            <label for="estado">Estado</label>
              <select class="uf" [(ngModel)]="profissional.uf" name="estado" id="estado">
                <option value="BA">Bahia</option>
            </select>
          </div>
          <div class="wrapper" style="display: flex;flex-direction: column;position: relative" >
            <label for="senha">Senha:</label>
            <input [(ngModel)]="profissional.senha" type="password" name="senha" id="senha">
            <a href="javascript:$('#senha').attr('type') == 'text' ? $('#senha').attr('type', 'password') :  $('#senha').attr('type', 'text')" id="mostrasenhaacao">
              <div style="position: absolute; left: 340px; top: 41px;">
                <img src="/assets/svg/v2/login/Componente1–1.svg" alt="">
              </div>
            </a>
          </div>
          <div class="wrapper" style="display: flex;flex-direction: column;position: relative" >
            <label for="csenha">Confirmar senha:</label>
            <input class="form-control" type="password" [(ngModel)]="profissional.csenha" name="csenha" id="csenha">
            <a href="javascript:$('#csenha').attr('type') == 'text' ? $('#csenha').attr('type', 'password') :  $('#csenha').attr('type', 'text')" id="mostrasenhaacao">
              <div style="position: absolute; left: 340px; top: 41px;">
                <img src="/assets/svg/v2/login/Componente1–1.svg" alt="">
              </div>
            </a>
          </div>
          
        </div>
        <div class="alert alert-danger" *ngIf="error" role="alert">
          {{error}}
        </div>
        <button type="button" class="button " (click)="salvar()">Salvar</button>
      </div>
    </div>
  </div>
</div> -->