<div class="bg-[#f1f1f1] w-full min-h-screen pt-6">
  <div class="relative w-full flex items-center justify-center text-center text-[#0368df] font-semibold">
    <img (click)="goBack()" src="../../../../assets/svg/v3/left-arrow-blue.svg" class="absolute left-8" alt="">
    Minha estrela
  </div>
  <div class="flex items-center justify-center gap-4 px-8 py-6">
    <img width="81px" height="81px" *ngIf="!profissional.foto" src="/assets/svg/v2/dentista_home/Grupo-13.svg" alt="" class="profile-image" >
    <img width="81px" height="81px" *ngIf="profissional.foto" src="{{profissional.foto}}" alt="" class="profile-image">
    <div class="flex flex-col">
      <h3 class="text-[#585858] font-semibold text-lg">{{profissional.nome}} {{profissional.sobrenome}}</h3>
      <p class="text-[#898989] font-normal text-[15px]">Dentista</p>
    </div>
  </div>
  <form action="" class="px-8 py-6 flex flex-col gap-8">
    <div>
      <label for="" class="text-black text-[15px]">Email Comercial</label>
      <p class="text-[#898989] text-lg">{{profissional.email}}</p>
      <div class="w-full h-[2px] bg-[#aeaeae]"></div>
    </div>
    <div>
      <label for="" class="text-black text-[15px]">Whatsapp</label>
      <p class="text-[#898989] text-lg">{{profissional.whatsapp}}</p>
      <div class="w-full h-[2px] bg-[#aeaeae]"></div>
    </div>
    <div>
      <label for="" class="text-black text-[15px]">Endereço  comercial</label>
      <p class="text-[#898989] text-lg">{{profissional.enderecoCompleto()}}</p>
      <div class="w-full h-[2px] bg-[#aeaeae]"></div>
    </div>
    <div>
      <label for="" class="text-black text-[15px]">CRO</label>
      <p class="text-[#898989] text-lg">{{profissional.cro}}</p>
      <div class="w-full h-[2px] bg-[#aeaeae]"></div>
    </div>
  </form>
  <div class="w-full bg-[#2560D6] min-h-[322px] py-6 px-6 flex flex-col justify-between relative gap-3">
    <div class="flex justify-between">
      <p class="text-white font-medium text-sm">Galeria</p>
      <p class="text-white font-medium text-xs underline" (click)="changeVerTudo()" *ngIf="verTudo ==false">Ver tudo</p>
      <p class="text-white font-medium text-xs underline" (click)="changeVerTudo()" *ngIf="verTudo ==true">Ver menos</p>
    </div>
    <div *ngIf="profissional.galeria.length > 0 && verTudo == false" class="flex">
      <div class="flex overflow-x-auto max-w-full gap-2" #galeriaContainer style="scroll-behavior: smooth;">
        <div *ngFor="let fotoUrl of profissional.galeria" class="flex-shrink-0 flex items-center gap-2">
          <img [src]="fotoUrl" alt="Imagem da Galeria" class="w-32 h-44 object-cover rounded-md">
        </div>
      </div>
    </div>
    <div *ngIf="profissional.galeria.length > 0 && verTudo == true" class="flex">
      <div class="grid grid-cols-3 gap-4 overflow-x-auto max-w-full" #galeriaContainer style="scroll-behavior: smooth;">
        <div *ngFor="let fotoUrl of profissional.galeria" class="flex-shrink-0 flex items-center gap-2">
          <img [src]="fotoUrl" alt="Imagem da Galeria" class="w-full h-44 object-cover rounded-md">
        </div>
      </div>
    </div>
    <div *ngIf="profissional.galeria.length == 0" class="self-center text-white font-bold text-2xl">
      Sem fotos na galeria
    </div>
    <div class="absolute left-1 top-[45%] px-1 text-[#2560D6] font-semibold bg-[#f1f1f1] rounded-md" (click)="scrollLeft()" *ngIf="verTudo == false && profissional.galeria.length > 2"> &lt; </div>
    <div class="absolute right-1 top-[45%] px-1 text-[#2562D6] font-semibold bg-[#f1f1f1] rounded-md" (click)="scrollRight()"  *ngIf="verTudo == false && profissional.galeria.length > 2">></div>
    <input type="file" #inputFile style="display: none;" accept=".jpg, .jpeg" (change)="onFileSelected($event)">
    <button class="w-[80%] border-2 border-white rounded-lg self-center text-white font-bold py-2 cursor-pointer" (click)="adicionarFoto()">ADICIONAR FOTO</button>
  </div>
  <div class="bg-[#f1f1f1] flex flex-col items-center justify-center gap-4 px-8 py-8">
    <button routerLink="/dentista/cadastro-completo" class="bg-white rounded-lg shadow-lg h-11 text-[#898989] font-bold text-lg w-full">Editar Perfil</button>
    <button routerLink="/dentista/especialidades" class="bg-white rounded-lg shadow-lg h-11 text-[#898989] font-bold text-lg w-full">Editar áreas de atuação</button>
    <button routerLink="/dentista/alteracao" class="bg-white rounded-lg shadow-lg h-11 text-[#898989] font-bold text-lg w-full">Editar alterações</button>
  </div>
  <div class="bg-white w-full flex flex-col items-center justify-center gap-4 py-5 text-[#898989] font-medium">
    <p routerLink="/dentista/termos">Termos de Uso</p>
    <p routerLink="/dentista/encerrar-conta">Finalizar conta</p>
  </div>
</div>
<!-- <div class="ceudaboca background-14">
  <div class="ceudaboca background-14-1 p-0">
    <div class="ceudaboca background-14-2 p-0">
      <div class="container" data-js="container" *ngIf="profissional">
        
        <nav class="nav margin-bottom-20 " >
          <p class="nav-right"><a routerLink="/dentista/home" class="home">Voltar</a></p>
          <p class="nav-center font-12">Minha estrela</p>
        </nav>

        <div class="data margin-bottom-40">
   
          <div style="display:flex;">
            <div class="profile-image margin-bottom-20">
              <img *ngIf="!profissional.foto" src="/assets/svg/v2/dentista_home/Grupo-13.svg" alt="" class="profile-image" >
              <img *ngIf="profissional.foto" src="{{profissional.foto}}" alt="" class="profile-image">
            </div>
            <div style="margin-top: 30px;margin-left:20px" >
            <div class="font-18" style="color: #fff;margin-bottom: 10px;">
                    Olá, {{profissional.nome}}
              </div>
              <div style="text-align: center;color: #fff;margin-bottom: 10px;">
                <p > 
                  <a href="javascript:;" (click)="sair()" style="color:white;">
                    <img src="/assets/svg/v2/dentista_home/Grupo-116.svg">
                  </a>
                </p>
              </div>
            </div>
          </div>
        
          <div >
            <div class="wrapper">
              <p class="margin-bottom-5 font-14 font-bold">Nome Completo</p>
              <div class="card-items">
                <p *ngIf="!profissional.razao_social" class="font-12 font-normal">{{profissional.tratamento}} {{profissional.nome}} {{profissional.sobrenome}}</p>
                <p *ngIf="profissional.razao_social" class="font-12 font-normal">{{profissional.tratamento}} {{profissional.razao_social}}</p>
              </div>
            </div>
            <div class="wrapper">
              <p class="margin-bottom-5 font-14 font-bold">E-mail Comercial</p>
              <div class="card-items">
                <p class="font-12 e font-normal">{{profissional.email}}</p>
              </div>
            </div>
            <div class="wrapper">
              <p class="margin-bottom-5 font-14 font-bold">Endereço comercial</p>
              <div class="card-items">
              <p class="font-12 font-normal">{{profissional.endereco}} {{profissional.numero}} {{profissional.cidade}}  {{profissional.uf}}</p>
            </div>
            </div>
            <div class="wrapper">
              <p class="margin-bottom-5 font-14 font-bold">Telefone de contato</p>
              <div class="card-items ">
                <p class="phone font-12 font-normal">{{profissional.whatsapp}}</p>
              </div>
            </div>
            <div class="wrapper">
              <p class="margin-bottom-5 font-14 font-bold">CRO</p>
              <div class="card-items">
                <p class="font-12 font-normal">{{profissional.cro}}</p>
              </div>
            </div>
          </div>
        </div>
        
        <div style="margin-top:30px" >
          <div style="display:flex;" class="margin-bottom-20" >
            <a routerLink="/dentista/cadastro-completo" class="button-profissional-minha-estrela" >Editar dados pessoais</a>
            <a routerLink="/dentista/especialidades" class="button-profissional-minha-estrela">Editar áreas de atuação</a>
            <a routerLink="/dentista/alteracao" class="button-profissional-minha-estrela">Editar alterações </a>
          </div>
          <div style="text-align:center;color:white;margin-bottom:20px">
            <a routerLink="/dentista/termos" style="text-align:center;color:white" >Termos de Uso</a>
          </div>
          <div style="text-align:center;color:white">
            <a routerLink="/dentista/encerrar-conta" style="text-align:center;color:white" >Finalizar conta</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div> -->